[options]
addons_path = /mnt/extra-addons
data_dir = /var/lib/odoo
admin_passwd = __ADMIN_PASSWD__
db_host = odoo-db
db_port = 5432
db_user = __DB_USER__
db_password = __DB_PASSWORD__
db_name = __DB_NAME__
list_db = False
proxy_mode = False
